*,
::after,
*::before {
  letter-spacing: normal !important;
}

:root {
  --radius: 13px;
  --radius-small: 8px;
  --default-back: #f2f1f6;
  --night-glow: linear-gradient(
    156deg,
    rgba(0, 76, 120, 1) 0%,
    rgba(0, 28, 62, 1) 40%,
    rgba(61, 17, 52, 1) 94%
  );
}

/* scroller */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #a29d9d;
  box-shadow: inset 0 0 2px rgb(150, 148, 148);
  transition: all ease-in-out .2s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a29d9d;
  transition: all ease-in-out .2s;
}

/* Убираем стрелки на input number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

/* vuetify */
.v-carousel__controls {
  height: 30px !important;
}

.v-carousel__controls .v-btn--icon.v-size--small {
  width: auto !important;
  height: auto !important;
}

.v-window__next *,
.v-window__prev * {
  font-size: 28px !important;
}

.v-window__next .v-btn,
.v-window__prev .v-btn {
  width: 32px !important;
  height: 32px !important;
}

.v-text-field,
.v-text-field * {
  font-size: 13px !important;
}

.v-input__slot {
  padding: 0 8px !important;
}

* .v-text-field .v-input__slot {
  min-height: 32px !important;
}

.v-select__selections {
  min-height: 32px !important;
}

.v-text-field input {
  padding: 0 !important;
}

.v-label {
  left: 4px !important;
}

.v-text-field--outlined.v-input--dense .v-label {
  top: 6px !important;
}

.v-input__append-inner {
  margin-top: 5px !important;
}

.v-text-field__details {
  margin-bottom: 0 !important;
}

.v-text-field__details * {
  font-size: 10px !important;
}

.small-input {
  width: 100%;
  max-width: 250px !important;
}

/* table */
thead tr {
  background: #f0f0f0;
}

tr:nth-child(odd) {
  background: #f3f3f3;
}

/* card */
.card {
  padding: 5px;
  border-radius: var(--radius);
}

/* radius */
.radius {
  border-radius: var(--radius) !important;
}

.radius-small {
  border-radius: var(--radius-small) !important;
}

.v-dialog {
  box-shadow: none !important;
}

/* dialog */
.create-dialog__link {
  display: block;
  font-weight: bold;
  text-decoration: none;
}

.create-dialog__link + .create-dialog__link {
  margin-top: 10px;
}

/* body */
.body {
  width: 100%;
  border-radius: var(--radius);
}

.body-container {
  display: flex;
  width: inherit;
  flex-direction: row;
}

/* params */
.params {
  width: 100%;
  max-width: 25%;
  border-radius: var(--radius);
}

.params-container {
  width: 100%;;
  border-radius: var(--radius);
}

@media (max-width: 940px) {
  .params {
    display: none;
  }
}

.params-title {
  font-size: 14px;
  font-weight: bold;
}

/* catalog */
.catalog {
  width: 100%;
  height: 80vh;
  overflow: auto;
  max-width: 75%;
  margin-left: 15px;
  padding-right: 10px;
  border-radius: var(--radius);
}

@media (max-width: 940px) {
  .catalog {
    margin: 0;
    padding: 0;
    height: auto;
    max-width: none;
  }
}

.catalog-card {
  display: block;
  width: 100%;
}

.catalog-card + .catalog-card {
  margin-top: 10px;
}

.catalog-card__container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.catalog-card__carousel {
  width: 288px !important;
  border-radius: var(--radius);
}

@media (max-width: 650px) {
  .catalog-card__carousel {
    width: 100% !important;
  }
}

.catalog-card__carousel-item-container {
  display: block;
  width: 100%;
  height: 100%;
}

.catalog-card__carousel-item-blur {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  filter: blur(15px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.catalog-card__carousel-image {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* catalog-card__content */
.catalog-card__content {
  width: 100%;
  margin-left: 12px;
  max-width: calc(100% - (288px + 12px));
}

@media (max-width: 650px) {
  .catalog-card__content {
    margin-top: 15px;
    margin-left: 0;
    max-width: none;
  }
}

.catalog-card__content-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.catalog-card__icon {
  display: flex;
  width: 20px;
  height: 20px;
  font-size: 14px !important;
  align-items: center !important;
  justify-content: flex-start !important;
}

.catalog-card__title {
  width: auto !important;
  height: auto !important;
  padding: 0 !important;
  font-size: 16px !important;
  text-transform: none !important;
  justify-content: flex-start !important;
}

.catalog-card__title * {
  font-size: 16px !important;
}

.catalog-card__address {
  font-size: 14px;
  margin-top: 4px;
}

.catalog-card__address * {
  font-size: 14px !important;
}

/* catalog-card__smallInfo */
.catalog-card__smallInfo-group {
  display: flex;
  flex-direction: row;
  margin-block: 4px;
  margin-inline: 3px;
}

.catalog-card__smallInfo-group:first-child {
  margin-bottom: 0;
}

.catalog-card__smallInfo-group + .catalog-card__smallInfo-group {
  margin-top: 0;
}

.catalog-card__smallInfo-group * {
  font-size: 14px;
}

.catalog-card__smallInfo-key {
  font-weight: 600;
}

.catalog-card__smallInfo-value {
  margin-left: 4px;
}

/* catalog-card__price */
.catalog-card__price-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.catalog-card__price-total,
.catalog-card__price-perMeter {
  font-size: 14px;
}

.catalog-card__price-perMeter {
  margin-left: 8px;
}

.catalog-card__manager-container {
  display: flex;
  flex-direction: row;
}

/* catalog-card__manager */
.catalog-card__manager-info {
  display: flex;
  height: 100%;
  font-size: 16px;
  margin-left: 8px;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-card__manager-name {
  font-size: 16px;
  font-weight: 500;
}

.catalog-card__manager-phone {
  font-size: 14px;
}

/* profile */
