*,
::after,
*::before {
  letter-spacing: normal !important;
}

:root {
  --radius: 13px;
  --radius-small: 8px;
  --default-back: #f2f1f6;
  --night-glow: linear-gradient(
    156deg,
    rgba(0, 76, 120, 1) 0%,
    rgba(0, 28, 62, 1) 40%,
    rgba(61, 17, 52, 1) 94%
  );
}

/* scroller */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #a29d9d;
  box-shadow: inset 0 0 2px rgb(150, 148, 148);
  transition: all ease-in-out .2s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a29d9d;
  transition: all ease-in-out .2s;
}

/* Убираем стрелки на input number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.small-input {
  width: 100%;
  max-width: 250px !important;
}

/* card */
.card {
  padding-block: 10px;
  padding-inline: 15px;
  border-radius: var(--radius);
}

/* radius */
.radius {
  border-radius: var(--radius) !important;
}

.radius-small {
  border-radius: var(--radius-small) !important;
}

.v-dialog {
  box-shadow: none !important;
}

/* dialog */
.create-dialog__link {
  display: block;
  font-weight: bold;
  text-decoration: none;
}

.create-dialog__link + .create-dialog__link {
  margin-top: 10px;
}

/* catalog */
.catalog {
  width: 100%;
  height: 80vh;
  overflow: auto;
  max-width: 75%;
  margin-left: 15px;
  padding-right: 10px;
  border-radius: var(--radius);
}

@media (max-width: 940px) {
  .catalog {
    max-width: none;
  }
}

.catalog-card__wrapper {
  display: flex;
  flex-direction: row;
}

.catalog-card__carousel {
  position: relative;
}

.catalog-card__carousel-carousel {
  width: 230px !important;
  height: 100% !important;
  max-height: 177px !important;
}

.catalog-card__carousel-item {
  width: inherit !important;
  height: inherit !important;
}

.catalog-card__carousel-img {
  position: relative;
  display: block;
  width: 100%;
  z-index: 2;
  object-fit: contain;
}

.catalog-card__carousel-pipki {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  padding: 5px 15px;
  border-radius: var(--radius-small) var(--radius-small) var(--radius) var(--radius) !important;
}

.catalog-card__info {
  display: flex;
  margin-left: 8px;
  flex-direction: column;
}

.catalog-card__title {
  display: flex;
  text-align: end;
  flex-direction: row;
  align-items: flex-end;
  font-size: 16px !important;
}

.catalog-card__address {
  font-size: 14px;
  margin-top: 5px;
}

.catalog-card__price-container {
  display: flex;
  flex-direction: row;
}

.catalog-card__fullPrice {
  font-weight: bold;
}

.catalog-card__pricePerMeter {
  margin-left: 15px;
}
